In [1]:
import pandas as pd

In [2]:
citibike = pd.read_csv('citibike_18_19.csv',parse_dates=['date']).rename({'date':'Date'},axis=1).set_index(['Date','HOUR_BIN'],drop=True).drop('Unnamed: 0',axis=1)
green_taxi = pd.read_csv('data_green_taxi.csv',parse_dates=['Date']).set_index(['Date','HOUR_BIN'],drop=True)
yellow_taxi = pd.read_csv('data_yellow.csv',parse_dates=['Date']).set_index(['Date','HOUR_BIN'],drop=True).drop('Unnamed: 0',axis=1)
MTA = pd.read_csv('DF_MTA',parse_dates=['DATE']).rename({'DATE':'Date'},axis=1).set_index(['Date','HOUR_BIN'],drop=True).drop('Unnamed: 0',axis=1)
weather = pd.read_csv('weather_data.csv',parse_dates=['Date']).set_index(['Date','HOUR_BIN'],drop=True).drop('Unnamed: 0',axis=1)

In [3]:
green_taxi = green_taxi.rename({'passenger_count':'passenger_countg'},axis=1)

In [4]:
MTA

                         EXIT      ENTRY
Date       HOUR_BIN
2018-01-01 0         283254.0   299794.0
           4         137862.0   146343.0
           8         151154.0   196377.0
           12        328108.0   415589.0
           16        492717.0   594243.0
...                       ...        ...
2019-12-31 4         137058.0   175073.0
           8         588964.0   736485.0
           12        796791.0   997440.0
           16        973974.0  1236863.0
           20        716006.0   800870.0

[4380 rows x 2 columns]

In [5]:
Merged_Data = pd.concat([citibike,green_taxi,yellow_taxi,MTA,weather], axis=1)

In [6]:
Merged_Data.head()

                     trip_count  passenger_countg  passenger_count      EXIT  \
Date       HOUR_BIN
2019-12-01 0              669.0            1714.0          36418.0  282875.0
           4             1070.0             557.0          13490.0   92248.0
           8             4704.0            1950.0          48602.0  214435.0
           12            1908.0            3569.0          76812.0  455385.0
           16            1306.0            3268.0          69867.0  527071.0

                        ENTRY   temp  feelslike    dew  humidity   precip  \
Date       HOUR_BIN
2019-12-01 0         278238.0  2.475     -1.700 -5.150   57.3225  0.00000
           4          91466.0  0.325     -4.575 -8.175   53.0325  0.00000
           8         275186.0  1.725     -2.750 -3.925   66.1350  0.00625
           12        535623.0  1.825     -3.500 -0.150   86.7525  0.77575
           16        630433.0  3.925     -1.025  2.875   92.8475  1.03450

                     ...  snowdepth  windgust  windspeed  winddir  \
Date       HOUR_BIN  ...
2019-12-01 0         ...        0.0       NaN     17.625    47.00
           4         ...        0.0     31.70     18.650    43.50
           8         ...        0.0       NaN     18.575    41.00
           12        ...        0.0     34.95     25.000    41.25
           16        ...        0.0     45.10     26.700    32.00

                     sealevelpressure  cloudcover  visibility  solarradiation  \
Date       HOUR_BIN
2019-12-01 0                 1016.375       1.500      16.000             NaN
           4                 1015.900      16.650      16.000            14.0
           8                 1013.975      39.625      13.975            46.5
           12                1008.200      60.850       7.750            23.5
           16                1002.275      48.425       5.925             1.0

                     solarenergy  uvindex
Date       HOUR_BIN
2019-12-01 0                 NaN      NaN
           4               0.050     0.00
           8               0.175     0.25
           12              0.075     0.00
           16              0.000     0.00

[5 rows x 22 columns]

In [7]:
Merged_Data.columns

Index(['trip_count', 'passenger_countg', 'passenger_count', 'EXIT', 'ENTRY',
       'temp', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob', 'snow',
       'snowdepth', 'windgust', 'windspeed', 'winddir', 'sealevelpressure',
       'cloudcover', 'visibility', 'solarradiation', 'solarenergy', 'uvindex'],
      dtype='object')

In [8]:
Merged_Data = Merged_Data.rename({'ENTRY':'MTAEntry_Y','EXIT':'MTAExit_Y','trip_count':'Citibike_Y','passenger_countg':'GreenTaxi_Y','passenger_count':'YellowTaxi_Y'},axis=1)

In [9]:
Merged_Data = Merged_Data.reset_index(drop=False).sort_values(['Date','HOUR_BIN']).set_index(['Date','HOUR_BIN'],drop=True)

In [10]:
Merged_Data.head(6)

                     Citibike_Y  GreenTaxi_Y  YellowTaxi_Y  MTAExit_Y  \
Date       HOUR_BIN
2018-01-01 0                NaN      11484.0      109663.0   283254.0
           4                NaN       4268.0       32370.0   137862.0
           8                NaN       2275.0       42633.0   151154.0
           12               NaN       4275.0       84638.0   328108.0
           16               NaN       5761.0       81748.0   492717.0
           20               NaN       3695.0       52278.0   366547.0

                     MTAEntry_Y       temp  feelslike        dew   humidity  \
Date       HOUR_BIN
2018-01-01 0           299794.0 -11.575000 -16.850000 -17.325000  62.472500
           4           146343.0 -11.975000 -16.600000 -16.475000  69.245000
           8           196377.0  -9.025000 -13.350000 -15.475000  60.337500
           12          415589.0  -5.150000  -8.175000 -16.250000  41.530000
           16          594243.0  -6.350000  -9.775000 -14.900000  50.992500
           20          438018.0  -7.433333 -14.833333 -13.366667  62.416667

                     precip  ...  snowdepth   windgust  windspeed  winddir  \
Date       HOUR_BIN          ...
2018-01-01 0            0.0  ...        0.0  32.566667      9.350   304.25
           4            0.0  ...        0.0  35.266667      7.775   292.75
           8            0.0  ...        0.0  45.100000      8.350   305.50
           12           0.0  ...        0.0  31.850000      7.075   320.50
           16           0.0  ...        0.0  42.975000      7.775   305.75
           20           0.0  ...        0.0  35.033333     21.400   270.00

                     sealevelpressure  cloudcover  visibility  solarradiation  \
Date       HOUR_BIN
2018-01-01 0              1026.925000        0.00      16.000            0.00
           4              1027.925000        0.05      16.000           16.25
           8              1028.500000        0.25      15.525          330.25
           12             1027.150000        0.20      16.000          296.75
           16             1027.750000        0.20      16.000            2.50
           20             1027.666667        0.20      16.000            0.00

                     solarenergy  uvindex
Date       HOUR_BIN
2018-01-01 0                 NaN     0.00
           4               0.150     0.00
           8               1.175     3.50
           12              1.075     3.25
           16              0.000     0.00
           20                NaN     0.00

[6 rows x 22 columns]

In [11]:
Merged_Data.tail(6)

                     Citibike_Y  GreenTaxi_Y  YellowTaxi_Y  MTAExit_Y  \
Date       HOUR_BIN
2019-12-31 0              390.0        831.0       17277.0   269804.0
           4             3150.0        516.0       12701.0   137058.0
           8             8079.0       2153.0       41939.0   588964.0
           12           12011.0       3451.0       62170.0   796791.0
           16            6088.0       4469.0       64740.0   973974.0
           20            1575.0       4268.0       66237.0   716006.0

                     MTAEntry_Y      temp  feelslike    dew   humidity  \
Date       HOUR_BIN
2019-12-31 0           266299.0  4.300000   0.950000  2.250  86.897500
           4           175073.0  4.125000   1.750000  2.475  88.950000
           8           736485.0  4.625000   3.225000  2.650  86.917500
           12          997440.0  6.425000   3.400000  3.275  80.487500
           16         1236863.0  6.575000   4.200000  2.450  75.127500
           20          800870.0  5.866667   2.566667  1.600  74.276667

                       precip  ...  snowdepth   windgust  windspeed  winddir  \
Date       HOUR_BIN            ...
2019-12-31 0         0.000000  ...        0.0  40.300000  15.525000   114.75
           4         0.000000  ...        0.0        NaN   9.925000   265.00
           8         0.000000  ...        0.0  54.250000   6.050000   317.00
           12        0.289750  ...        0.0  75.800000  15.950000   254.00
           16        0.057500  ...        0.0  82.200000  12.475000   258.50
           20        0.009333  ...        0.0  31.133333  16.666667   261.00

                     sealevelpressure  cloudcover  visibility  solarradiation  \
Date       HOUR_BIN
2019-12-31 0              1006.275000   48.800000        16.0             NaN
           4              1006.225000   48.625000        12.9           10.00
           8              1005.525000   32.825000        16.0           89.00
           12             1003.450000   24.175000        16.0          133.25
           16             1003.850000   42.675000        16.0            5.00
           20             1004.066667   54.133333        15.5             NaN

                     solarenergy  uvindex
Date       HOUR_BIN
2019-12-31 0                 NaN      NaN
           4               0.000     0.00
           8               0.325     0.75
           12              0.500     1.25
           16              0.000     0.00
           20                NaN      NaN

[6 rows x 22 columns]

In [12]:
Merged_Data.to_csv('Merged_Data.csv')

In [13]:
Merged_Data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4380 entries, (Timestamp('2018-01-01 00:00:00'), 0) to (Timestamp('2019-12-31 00:00:00'), 20)
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Citibike_Y        186 non-null    float64
 1   GreenTaxi_Y       4380 non-null   float64
 2   YellowTaxi_Y      4380 non-null   float64
 3   MTAExit_Y         4380 non-null   float64
 4   MTAEntry_Y        4380 non-null   float64
 5   temp              4380 non-null   float64
 6   feelslike         4380 non-null   float64
 7   dew               4380 non-null   float64
 8   humidity          4380 non-null   float64
 9   precip            4380 non-null   float64
 10  precipprob        4380 non-null   float64
 11  snow              4380 non-null   float64
 12  snowdepth         4380 non-null   float64
 13  windgust          2332 non-null   float64
 14  windspeed         4380 non-null   float64
 15  winddir           4380 non-null   float64
 16  sealevelpressure  4380 non-null   float64
 17  cloudcover        4380 non-null   float64
 18  visibility        4380 non-null   float64
 19  solarradiation    4076 non-null   float64
 20  solarenergy       3038 non-null   float64
 21  uvindex           4076 non-null   float64
dtypes: float64(22)
memory usage: 787.8 KB