In [1]:
import pandas as pd
import geopandas as gpd
import urllib.request
import os
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [10]:
if os.path.exists('green_taxi/'):
    pass
else:
    os.makedirs('green_taxi')
list_ = []
for year in [2018,2019]:
    for month in range(1,13):
        if os.path.exists('green_taxi'+str(year)+str(month)+'/'):
            pass
        else:
            os.makedirs('green_taxi'+str(year)+str(month)+'/')
        urllib.request.urlretrieve ("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')), 
                                    'green_taxi'+str(year)+str(month)+'/'+"green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')))
        data3 = pd.read_parquet("green_taxi/")
        data3 = data3[['lpep_pickup_datetime','lpep_dropoff_datetime','passenger_count','PULocationID','DOLocationID','fare_amount']]
    list_.append(data3)

In [2]:
if os.path.exists('green_taxi_2018_1/'):
    pass
else:
    os.makedirs('green_taxi_2018_1')

for year in [2018]:
    for month in range(1,5):
        urllib.request.urlretrieve ("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')), 
                                    "green_taxi_2018_1/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')))
        
if os.path.exists('green_taxi_2018_2/'):
    pass
else:
    os.makedirs('green_taxi_2018_2')

for year in [2018]:
    for month in range(5,13):
        urllib.request.urlretrieve ("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')), 
                                    "green_taxi_2018_2/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')))

In [3]:
data_green_1 = pd.read_parquet("green_taxi_2018_1/")
data_green_1.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,None,0.3,7.3,2,1.0,None
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,None,0.3,15.8,2,1.0,None
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,None,0.3,11.3,2,1.0,None
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,None,-0.3,-4.3,3,1.0,None
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,None,0.3,4.3,2,1.0,None

In [31]:
A = ["05","06","07","08","09","10","11","12"]
list_=[]
for i in (A):
    Form = "green_taxi_2018_2/green_tripdata_2018-"+(i)+ ".parquet"
    data_green = pd.read_parquet(Form)
    list_.append(data_green)
    
data_green_2 = pd.concat(list_,axis = 0)
data_green_2.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-05-01 00:43:55,2018-05-01 00:56:23,N,1.0,80,189,5.0,3.67,13.5,0.5,0.5,4.44,0.0,None,0.3,19.24,1.0,1.0,None
1,2,2018-05-01 00:40:45,2018-05-01 00:45:40,N,1.0,97,49,1.0,1.14,5.5,0.5,0.5,1.36,0.0,None,0.3,8.16,1.0,1.0,None
2,1,2018-05-01 00:14:55,2018-05-01 00:22:46,N,1.0,7,179,1.0,1.50,7.5,0.5,0.5,0.00,0.0,None,0.3,8.80,1.0,1.0,None
3,1,2018-05-01 00:30:28,2018-05-01 00:47:48,N,1.0,7,173,1.0,3.60,15.0,0.5,0.5,0.00,0.0,None,0.3,16.30,2.0,1.0,None
4,1,2018-05-01 00:25:56,2018-05-01 00:45:07,N,1.0,256,186,1.0,5.40,19.0,0.5,0.5,2.00,0.0,None,0.3,22.30,1.0,1.0,None

In [33]:
data_green_2.shape

(5702148, 20)

In [35]:
data_green_2018 = pd.concat([data_green_1, data_green_2], axis = 0)
data_green_2018.shape

(8899718, 20)

In [37]:
if os.path.exists('green_taxi_2019/'):
    pass
else:
    os.makedirs('green_taxi_2019/')

for year in [2019]:
    for month in range(1,13):
        urllib.request.urlretrieve ("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')), 
                                    "green_taxi_2019/green_tripdata_%s-%s.parquet"%(str(year),str(month).rjust(2, '0')))

In [38]:
data_green_3 = pd.read_parquet("green_taxi_2019/")
data_green_3.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN

In [39]:
data_green_3.shape

(6300985, 20)

In [54]:
data_green = pd.concat([data_green_2018, data_green_3], axis = 0)
data_green.shape

(15200703, 20)

In [55]:
validind = (data_green.passenger_count> 0) & (data_green.trip_distance > 0) & (data_green.fare_amount > 0)
data_green = data_green[validind]
data_green['lpep_pickup_datetime'] = pd.to_datetime(data_green['lpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
data_green=data_green.loc[data_green['passenger_count']<=7]
data_green['Date'] = data_green['lpep_pickup_datetime'].dt.date
data_green['Month'] = data_green['lpep_pickup_datetime'].dt.month
data_green['Year'] = data_green['lpep_pickup_datetime'].dt.year
data_green['DOW'] = data_green['lpep_pickup_datetime'].dt.dayofweek
data_green['Hour'] = data_green['lpep_pickup_datetime'].dt.hour
data_green = data_green.loc[data_green['Year'].isin([2018,2019])]
data_green= data_green[['Date','Hour','passenger_count']]
data_green.head()

         Date  Hour  passenger_count
0  2018-01-01     0              5.0
1  2018-01-01     0              5.0
2  2018-01-01     0              1.0
4  2018-01-01     0              1.0
5  2018-01-01     0              1.0

In [56]:
def binning(x,bins=6):
    return x-(x%(24//bins))

data_green['HOUR_BIN'] = data_green['Hour'].apply(binning)
data_green['HOUR_BIN'].unique()

array([ 0, 12,  4,  8, 16, 20], dtype=int64)

In [58]:
data_green = data_green[["Date","HOUR_BIN","passenger_count"]]
data_green.shape

(4380, 3)